@media screen and (max-width: 425px) {
    .banner-content,
    .navbar-section,
    .menues ul,
    .gamer-section,
    .online-games-section,
    .online-games-card-container
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-section{
        flex-direction: column-reverse;
        width: 100vw;
        
        
    }
    .navbar-section{
        
       width: 100%;
        height: 100%;
        box-shadow: none;
    }
    .banner-content{
        
        width: 90%;
        padding: 10px;
           
    }
    .banner-images img
    
    {
        width: 100%;
        
    }
    .gamer-section{
        width: 100%;
        align-items: center;
        padding: 0;
        background-color: none;
        

    }
    .gamer-image img{
        width: 100%;
    }
    .gamer-content{
        width: 80%;
        text-align: center;
        padding: 10px;
        
    }

}