@media screen and (max-width: 425px) {
    .banner-content,
    .navbar-section,
    .menues ul,
    .gamer-section,
    .online-games-section,
    .online-games-card-container,
    .play-instance-section
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-section{
        flex-direction: column-reverse;
        width: 100vw;
        
        
    }
    .navbar-section{
        
       width: 100%;
        height: 100%;
        box-shadow: none;
    }
    .banner-content{
        
        width: 90%;
        padding: 10px;
           
    }
    .banner-images img
    
    {
        width: 100%;
        
    }
    .gamer-section{
        width: 100%;
        align-items: center;
        padding: 0;
        background-color: none;
        

    }
    .gamer-image img{
        width: 100%;
    }
    .gamer-content{
        width: 80%;
        text-align: center;
        padding: 10px;
        
    }
    
    .play-instance-section img{
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    .sub-image{
        width: 50%;
        height: 50%;
        margin-left: -30px;
        margin-top: -100px;

    }
    .play-instance-text{
        text-align: center;
        
    }
    .play-instance-section{
        padding: 20px;
    }

    /* game list */

    .game-list-section{
        width: 100%;
    }
    .game-list-container {
        max-width: 100%;
        gap: 2px;
    }

    .game-button {
        
        font-size: 0.7rem;
        padding: 2px 2px;
    }
    .game-button img{
        width: 20%;
    }
    .terms ul{
        font-size: 0.5rem;
    }
    .terms{
        max-width: 100%;
        margin: auto;
        
       
    }
    .icons{
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
        
    
        
    }
    .links ul {
        max-width: 100%;
        flex-wrap: wrap;
        font-size: 0.6rem;
        justify-content: space-evenly;
        gap: 20px;
    
    }
    .copyright-text{
        color: white;
        font-size: 0.4rem;
    }
}
 
