@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* nav section */

.navbar-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: 80px;
    height: 35px;
}

.menues ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.menues>li {
    text-decoration: none;
    list-style: none;
}

.menues a {
    text-decoration: none;
}

.gamer {
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 20px;
}

.colored-g {
    color: #FF42A5;

}
.follow{
    margin-top: 10px;
}

.follow-box {
    
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 10px;
    
}
/* .icon-button{
    padding: 0;
    border: none;
    background: none;
    outline: none;
    
} */
