@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* shared section */
.btn-red {
    padding: 20px 40px;
    border-radius: 48px;
    border-style: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.colored-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.8rem;
    font-weight: 700;
}

.para-text {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}

.header-text {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}


/* nav section */

.navbar-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: 80px;
    height: 35px;
}

.menues ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 32px;
    font-weight: 500;

}


.menues a {
    color: #3C354F;
    text-decoration: none;
}


.gamer {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 20px;
}

.colored-g {
    color: #FF42A5;

}

.follow {
    margin-top: 10px;
}

.follow-box {

    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 10px;

}

/* banner sectin */


.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.banner-content {
    background: url('./images/group-14.png');
    background-size: 100%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 140px 100px;
}

.content-details {
    margin-top: -50px;
}

.goat-text {
    text-align: left;
    font-size: 5.5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -20px;
}

.banner-header {
    /* text-align: center; */
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;

}

.text-and-icon {
    display: flex;
    align-items: center;
    gap: 5px;



}


.btn-blue {
    padding: 20px 40px;
    border-radius: 48px;
    border-style: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #4EC5F7;
}

.banner-button {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

/* gamer section */
.gamer-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: right;
    padding: 50px 50px;
}
.online-games-content{
    text-align: center;
}

.unleash-text {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

.online-games-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.online-games-card-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.online-games-card-container div {
    align-items: center;
    width: 80%;
}

.online-games-card-container img {
    width: 100%;
}

.online-games-card p {
    width: 100%;
    height: 60px;

}

.online-games-card {
    position: relative;
    cursor: pointer;
}

.online-games-card:hover img {
    opacity: 0.5;
}

.card-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.online-games-card:hover .card-overlay {
    opacity: 1;
}

.watch-icon {
    display: inline-block;
    font-size: 2rem;
    color: #FF42A5;
    margin-bottom: 10px;
}

.online-games-card p {
    position: relative;
    z-index: 1;
}
/* play-instance section */

.play-instance-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    gap: 200px;
    
}
.sub-image{

    position: relative;
    margin-top: -300px;
    margin-left: -150px;
    padding: 0;
}
.play-instance-text{
    text-align: right;
    padding: 20px;
}


/* game list */
.game-list{
    display: flex;
    padding: 10px;
    border-radius: 40px;
    
}
.game-list-section{
    padding: 100px;
}
.game-list-container{
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}


.game-button{
    display: flex;
    border-radius: 40px;
    align-items: center;
    border: none;
    padding: 5px 10px;
}
.game-button:hover{
    border: 2px solid pink;
    cursor: pointer;
    color: pink;
}
.game-list-container img{
    margin-right: 10px;
}


/* footer section */



footer{
    background-color: #0B0223;
    padding: 70px;
    margin-top: 100px;
}
.links ul {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: 600;
    padding: 30px;

}
.links a {
    color: white;
    text-decoration: none;
}
.gamer2{
    color: white;
    font-size: 2.8rem;
    font-weight: 700;
}
.icons{
    max-width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;

}
.terms{
    max-width: 50%;
    margin: auto;
    padding: 30px;
}
.terms ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 0.8rem;
    font-weight: 400;

}
.terms a {
    color: white;
    text-decoration: none;
}
#footer-logo{
    padding: 20px 100px 10px 100px;
}
.icon-button{
    background-color: #0B0223;
    /* border: none; */
}
.copyright-text{
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding: -10px 0px 80px 0px;
}