@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* shared section */
.btn-red {
    padding: 20px 40px;
    border-radius: 48px;
    border-style: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.colored-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.8rem;
    font-weight: 700;
}

.para-text {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}

/* nav section */

.navbar-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: 80px;
    height: 35px;
}

.menues ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 32px;
    font-weight: 500;

}


.menues a {
    color: #3C354F;
    text-decoration: none;
}


.gamer {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 20px;
}

.colored-g {
    color: #FF42A5;

}

.follow {
    margin-top: 10px;
}

.follow-box {

    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 10px;

}

/* banner sectin */


.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.banner-content {
    background: url('./images/group-14.png');
    background-size: 100%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 140px 100px;
}

.content-details {
    margin-top: -50px;
}

.goat-text {
    text-align: left;
    font-size: 5.5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -20px;
}

.banner-header {
    /* text-align: center; */
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;

}

.text-and-icon {
    display: flex;
    align-items: center;
    gap: 5px;



}


.btn-blue {
    padding: 20px 40px;
    border-radius: 48px;
    border-style: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #4EC5F7;
}

.banner-button {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

/* gamer section */
.gamer-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: right;
    padding: 50px 50px;
}

.unleash-text {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}